body {
  background-image: url('../../resources/inicio/fondos/fondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cohete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: transform 0.2s ease-in-out;
}

.cohete:hover {
  transform: translateX(10px) translateY(10px); 
}

#texto {
  font-size: 55px;
  font-style: bold;
}

#texto.programa {
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
}

#contenedor-texto {
  color: #fff42c;
  margin: 90px;
  padding: 0px;
}

#segundoParrafo {
  font-size: 17px;
}

#btn-profesor {
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
}

#btn-estudiante {
  background-color: transparent;
  border: none;
  border-radius: 0%;
  overflow: hidden;
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
}

.botones {
  margin: auto;
}

.botones:hover {
  transform: translateX(10px) translateY(10px); 
}

#contenedor-botones {
  display: inline-block;
  position: absolute;
  bottom: 130px;
  left: 100px;
}
