.row {
    margin: 20px;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: white;
    border-radius: 20px;
  }

  @media only screen and (max-width: 1300px) {
    .row {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .row {
      grid-template-columns: 1fr;
    }
  }