body {
  background-image: url(imagenes/inicio\ de\ sesion/fondo.png); /* Fondo claro similar al de la imagen */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

#archivo {
  position: absolute;
  top: 10px; /* Ajustar según sea necesario */
  left: 10px; /* Ajustar según sea necesario */
}

#cuaderno {
  position: absolute;
  top: 10px; /* Ajustar según sea necesario */
  right: 10px; /* Ajustar según sea necesario */
}

#computador {
  position: absolute;
  bottom: 10px; /* Ajustar según sea necesario */
  right: 10px;
}

#universidad {
  position: absolute;
  bottom: 10px; /* Ajustar según sea necesario */
  left: 10px;
}

.card {
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-title {
  font-weight: bold;
  margin-bottom: 2rem;
  padding-top: 150px;
}

#formulario {
  height: 670px;
  width: 512px;
}

#contrasena {
  color: #909090;
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
}

#usuario {
  color: #909090;
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
}

.lbl_inputs {
  padding-left: 10px;
}

#recordarme {
  padding-left: 30px;
}

.btn-primary {
  background-image: url(imagenes/inicio\ de\ sesion/fondo_btn.png); /* Color rosa del botón */
  width: 247px;
  height: 50px;
  justify-content: center;
  border: none; /* Sin borde */
  border-radius: 30px; /* Bordes redondeados */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btn {
  padding-top: 40px;
}

.container {
  position: relative;
  margin-top: 100px;
}
