  
  .search-container {
   
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      border-radius: 50px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden; /* Oculta los elementos hijos que sobrepasan el borde redondeado */
      
    }
   
  .input-with-icon {
    display: flex;
    align-items: center;
    background: white; /* Fondo blanco para el input y el icono */
    border-radius: 50px; /* Bordes redondeados */
    width: 100%;
  }
  
  .input-search {
    flex-grow: 1; /* Permite que el input crezca y llene el espacio */
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    outline: none;
  }
  
  .search-icon {
    padding: 10px;
    color: #333;
    background-color: #ffffff; /* Fondo del ícono de la lupa */
    border-radius: 50%; /* Redondea el fondo del ícono */
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  /* Estilo opcional para cambiar la apariencia del input al enfocarse */
  input:focus {
    background-color: #e8e8e8;
  }
  