/* Estilos para el contenedor del formulario */
body {
  background-image: url('../../resources/login-registrar/Fondos/image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.icon {
  position: absolute;
}

#arriba-izq {
  top: 0;
  left: 0;
}

#arriba-der {
  top: 0;
  right: 0;
}

#abajo-izq {
  bottom: 0;
  left: 0;
}

#abajo-der {
  bottom: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: relative;
  margin: auto;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 950px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  position: relative;
}

/* Si tienes un título dentro de tu formulario */
#title {
  margin-bottom: 10px; /* Espacio debajo del título */
}

/* Estilos del botón, similar a lo que ya tienes */
#button-register {
  /* tus estilos aquí */
  background-image: url(../../resources/login-registrar/Fondos/fondo-btn.png);
  border-color: transparent;
  border: none;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 210px;
  height: 60px;
  padding: 10px 20px;
  margin: 4px 10px; /* Margen exterior */
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregado para la transición */
}

#button-register:hover {
  background-color: #3498db; /* Cambia este color al deseado */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra para un efecto de "elevación" */
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
}

#button-registrar {
  margin-bottom: 20px;
}