.navbar {
    display: grid;
    margin-top: 0px;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 3.5em;
    margin-bottom: 20px;
}
.message, .accordion {
    font-size: x-large;
}
.message {
    margin-left: 5%;
}
.mayuscula {
    text-transform: capitalize;
    display: inline;
}