.navbar {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 3fr; /* Ajusta para que la primera columna se adapte al contenido */
  width: 100%;
  height: 3.5em;
  width: 100%;
  height: 3.5em;
  margin-bottom: 20px;
}

.message {
  font-size: xx-large;
  color: white;
  margin-left: 90px;
  font: bold;
  white-space: nowrap; /* Evita que el texto se envuelva */
  text-overflow: ellipsis; /* Añade '...' si el texto es demasiado largo */
  /* Resto de tus estilos */
}
.mayuscula {
  text-transform: capitalize;
  display: inline;
}
